@using System.Threading.Tasks
@using MyWebApp.Services
@model MyWebApp.Models.Profile
@inject ProfileOptionsService Options

<h1>Update Profile</h1>
<div class="row">
        <div class="col-md-12">
        Name: @Html.TextBoxFor(m => m.Name)
        <br/>
        Gender: @Html.DropDownList("Gender",
            Options.ListGenders().Select(g => 
                    new SelectListItem() { Text = g, Value = g }))
        <br/>

        State: @Html.DropDownListFor(m => m.State.Code,
            Options.ListStates().Select(s => 
                    new SelectListItem() { Text = s.Name, Value = s.Code}))
        <br />

        Fav. Color: @Html.DropDownList("FavColor",
            Options.ListColors().Select(c => 
                    new SelectListItem() { Text = c, Value = c }))
    </div>
</div>